<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-HA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src = "./lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href = "./lib/bootstrap-3.3.7.css">
</head>

<body>
    <div id = "app">


       
        <!-- bs3-panel快捷键画出候选框  -->
        <div class="panel panel-primary">
            <div class ="panel-heading">
                <h3 class ="panel-title">品牌管理</h3>
            </div>
            <div class = "panel-body from-inline">
                <label>
                    Id:
                    <!-- 需要vue管理，所以需要做双向数据绑定 -->
                    <input type="text" class="from-control" v-model="id">
                </label>

                <label>
                    Name:
                    <input type="text" class="from-control" v-model="name">
                </label>
                <!-- 注意，其实这个方法也可以不带括号，但是但括号就可以传参，所以建议带上 -->
                <input type="button" value="添加" class="btn btn-primary" @click = "add()">
             
                <label>
                    搜索关键字:
                    <input type="text" class="from-control" v-model="keyword">
                </label>
            </div>
        </div>
       
        <!-- 快捷键bs3-table画一个表，注意你快捷键的设置 -->
        <table class = "table table-bordered table-hover table-striped" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
         <tbody>
            <tr v-for ="item in list" :key="item.id">
                <td>{{item.id}}</td>
                <td v-text="item.name"></td>
                <td>{{item.ctime}}</td>
                <td>
                    <a href="" @click.prevent=del(item.id)>删除</a>
                </td>
            </tr>
         </tbody>
        </table>


    </div>

    <script>
        // 创建Vue实例，得到ViewModel
        var vm = new Vue({
            el:"#app",
            data:{
                id:'',
                name:'',
                keyword:'',
                list: [
                    {id:1,name:'beijing', ctime: new Date()},
                    {id:2,name:'baoma', ctime: new Date()},

                ],
            },
            methods:{
                add () {    //添加的方法
                    //分析：
                    //1.获取到id和name，直接从data上获取
                    //2.组织出一个对象
                    //3.把这个对象那个，调用 数组 相关方法，添加到当前data上的list中
                    //4.注意 在vue中，已经实现了数据的双向绑定，当我们修改了data中的数据，
                    //  vue会默认监听到数据的改动，自动把最新的数据应用到页面上
                    //5.其实更多的就是在进行vm中Model数据的操作，同时，在操作Moudel数据的时候，制定和业务逻辑操作
                    var car = {id : this.id, name: this.name, ctime: new Date()}
                    this.list.push(car)
                    this.id = this.name = ''
                },
                del(id) {   //根据id删除数据
                    //分析：
                    //1.如何让根据Id，找到要删除这一项的索引
                    //2.如果找到索引，直接调用 数组的 splice方法

                    //方式1，借助于some
                    // this.list.some((item,i)=>{
                    //     if(item.id == id) {
                    //         this.list.splice(i,1)
                    //         //在数组的some方法中，如果return true，就会立即终止这个数组的后续循环
                    //         return true;
                    //     }
                    // })

                    //方式2
                    var index = this.list.findIndex(item =>{
                        if(item.id == id) {
                            return true;
                        }
                    })
                    this.list.splice(index,1)
                    
                }
            }
        });
        </script>
    
</body>
</html>